{% extends "base.html" %}

{% block content %}
    <!-- navbar -->
    {% include "navbar.html" %}

    <!-- main content -->
    <main class="flex-grow self-center mt-10 mb-12 px-5 w-full max-w-6xl">
        <!-- header -->
        <div class="flex flex-wrap justify-between items-center gap-3 mb-6">
            <h2 class="font-bold text-2xl">Add New Opportunity</h2>
        </div>

        <div class="flex items-center mx-auto max-w-lg">
            <!-- create opportunity form -->
            <form action="/register" method="post" class="flex flex-col w-full">
                <label for="title" class="font-semibold text-lg">Title</label>
                <input
                        type="text"
                        id="title"
                        name="tile"
                        placeholder="Enter the title"
                        required
                        class="bg-gray-50 shadow shadow-gray-100 mt-1 p-3 border border-gray-300 focus:border-utdOrange rounded-md outline-none focus:ring-2 focus:ring-utdOrange/50 transition-colors duration-300"
                />

                <label for="description" class="mt-4 font-semibold text-lg">Description</label>
                <textarea
                        id="description"
                        name="description"
                        class="bg-gray-50 shadow shadow-gray-100 mt-1 p-3 border border-gray-300 focus:border-utdOrange rounded-md outline-none focus:ring-2 focus:ring-utdOrange/50 transition-colors duration-300"
                ></textarea>

                <!-- start/end date -->
                <div class="flex sm:flex-row flex-col gap-4 mt-4 w-full">
                    <div class="flex flex-col">
                        <label for="startDate" class="font-semibold text-lg">Start Date</label>
                        <input
                                type="date"
                                id="startDate"
                                name="startDate"
                                required
                                class="bg-gray-50 shadow shadow-gray-100 mt-1 p-3 border border-gray-300 focus:border-utdOrange rounded-md outline-none focus:ring-2 focus:ring-utdOrange/50 transition-colors duration-300"
                        />
                    </div>

                    <div class="flex flex-col">
                        <label for="endDate" class="font-semibold text-lg">End Date</label>
                        <input
                                type="date"
                                id="endDate"
                                name="endDate"
                                class="bg-gray-50 shadow shadow-gray-100 mt-1 p-3 border border-gray-300 focus:border-utdOrange rounded-md outline-none focus:ring-2 focus:ring-utdOrange/50 transition-colors duration-300"
                        />
                    </div>
                </div>

                <label for="flyer" class="mt-4 font-semibold text-lg">Upload Flyer</label>
                <input
                        type="file"
                        id="flyer"
                        name="flyer"
                        required
                        class="bg-gray-50 hover:file:bg-orange-400 file:bg-orange-300 shadow shadow-gray-100 file:mr-5 file:px-4 file:py-2 border border-gray-300 file:border-0 rounded-lg file:rounded-md outline-none file:font-semibold text-gray-500 file:text-black text-sm file:text-sm"
                />

                <label for="maxSignups" class="mt-4 font-semibold text-lg">Maximum Signups</label>
                <input
                        type="number"
                        id="maxSignups"
                        name="maxSignups"
                        class="bg-gray-50 shadow shadow-gray-100 mt-1 p-3 border border-gray-300 focus:border-utdOrange rounded-md outline-none focus:ring-2 focus:ring-utdOrange/50 transition-colors duration-300"
                />

                <button
                        type="submit"
                        class="bg-utdOrange hover:bg-orange-500 hover:shadow-lg mt-6 px-3 py-3 rounded-lg font-semibold text-white text-lg transition hover:-translate-y-0.5 duration-250 ease-in-out hover:cursor-pointer"
                >
                    Submit
                </button>
            </form>
        </div>
    </main>

    <!-- footer -->
    {% include "footer.html" %}
{% endblock content %}
