{% extends "base.html" %}

{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const params = new URLSearchParams(window.location.search)
            const tab = params.get("tab") || "opps"

            if (tab === "orgs") {
                document.getElementById("tab-orgs").classList.add("text-white", "bg-utdOrange")
                document.getElementById("tab-orgs").classList.remove("hover:text-utdOrange")

                htmx.ajax('GET', "{{ url_for('dashboard_organizations') }}", {
                    target: '#tab-content',
                    swap: 'innerHTML'
                })
            } else if (tab === "opps") {
                document.getElementById("tab-opps").classList.add("text-white", "bg-utdOrange")
                document.getElementById("tab-opps").classList.remove("hover:text-utdOrange")

                htmx.ajax('GET', "{{ url_for('dashboard_opportunities') }}", {
                    target: '#tab-content',
                    swap: 'innerHTML'
                })
            }

            // highlight active tab
            document.querySelectorAll(".tab-btn").forEach(btn => {
                btn.addEventListener("click", () => {
                    document.querySelectorAll(".tab-btn").forEach(b => {
                        b.classList.remove("text-white", "bg-utdOrange")
                        b.classList.add("hover:text-utdOrange")
                    })

                    btn.classList.add("text-white", "bg-utdOrange")
                    btn.classList.remove("hover:text-utdOrange")
                })
            })
        })
    </script>

    <!-- navbar -->
    {% include "partials/navbar.html" %}

    <!-- main content -->
    <main class="flex-grow self-center mt-10 mb-5 px-5 w-full max-w-7xl">
        <!-- flash messages -->
        <div id="flash-messages" class="transition-all duration-300 mb-5">
            {% include "partials/flash_messages.html" %}
        </div>

        <div class="flex flex-col md:flex-row gap-5">

            <div class="md:flex">
                <ul class="flex-column space-y space-y-4 text-sm font-medium text-body md:me-4 mb-4 md:mb-0">
                    <li>
                        <a hx-get="{{ url_for("dashboard_opportunities") }}" hx-trigger="click"
                           hx-target="#tab-content"
                           hx-swap="innerHTML"
                           class="tab-btn flex gap-2 text-gray-700 inline-flex items-center px-4 py-2.5 rounded-base hover:cursor-pointer hover:text-utdOrange w-full rounded-lg"
                           id="tab-opps">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="lucide lucide-chart-no-axes-combined-icon lucide-chart-no-axes-combined">
                                <path d="M12 16v5"></path>
                                <path d="M16 14v7"></path>
                                <path d="M20 10v11"></path>
                                <path d="m22 3-8.646 8.646a.5.5 0 0 1-.708 0L9.354 8.354a.5.5 0 0 0-.707 0L2 15"></path>
                                <path d="M4 18v3"></path>
                                <path d="M8 14v7"></path>
                            </svg>
                            Opportunities
                        </a>
                    </li>
                    <li>
                        <a hx-get="{{ url_for("dashboard_organizations") }}" hx-trigger="click"
                           hx-target="#tab-content"
                           hx-swap="innerHTML"
                           class="tab-btn flex gap-2 text-gray-700 inline-flex items-center px-4 py-2.5 rounded-base hover:cursor-pointer hover:text-utdOrange w-full rounded-lg"
                           id="tab-orgs">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="lucide lucide-network-icon lucide-network">
                                <rect x="16" y="16" width="6" height="6" rx="1"></rect>
                                <rect x="2" y="16" width="6" height="6" rx="1"></rect>
                                <rect x="9" y="2" width="6" height="6" rx="1"></rect>
                                <path d="M5 16v-3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3"></path>
                                <path d="M12 12V8"></path>
                            </svg>
                            Organizations
                        </a>
                    </li>
                </ul>
            </div>

            <div id="tab-content">

            </div>
        </div>
    </main>

    <!-- footer -->
    {% include "partials/footer.html" %}
{% endblock content %}
