{% extends "base.html" %}

{% block content %}
    <!-- navbar -->
    {% include "navbar.html" %}

    <!-- main content -->
    <main class="flex-grow self-center mt-10 mb-12 px-5 w-full max-w-6xl">
        <div class="flex flex-col lg:flex-row gap-8">
            <!-- opportunity image -->
            <img
                    src="https://fieldeffect.com/hubfs/Website-Blog/Blog-Thumb-Capture-the-flag-What-you-should-know-about-cybersecurity-CTFs.jpg"
                    class="w-full lg:w-120 h-100 rounded-xl object-cover shadow"
            />

            <div class="flex-1 space-y-4">
                <!-- title -->
                <h1 class="text-3xl font-bold">CTF @ UTD</h1>

                <!-- date and category -->
                <div class="flex items-center gap-3">
                    <span class="text-gray-600">12/12/2025</span>
                    <span class="px-3 py-1 rounded-full bg-orange-200 text-gray-800 text-sm">
              Competition
            </span>
                </div>

                <!-- description -->
                <p class="text-gray-700 leading-relaxed">Capture-the-flag cybersecurity competition</p>

                <!-- organizer -->
                <a href="#" class="text-blue-600 underline hover:text-blue-800 transition-colors"
                >Hosted by: CSG UTD</a
                >

                <!-- Signup button -->
                <div class="mt-10 flex">
                    <form class="ml-auto" action="/signup" method="post">
                        <button
                                type="submit"
                                class="ml-auto bg-utdOrange text-xl text-white hover:bg-orange-500 px-3 py-2 rounded-lg font-semibold text-md transition duration-150 ease-in-out hover:cursor-pointer"
                        >
                            Signup
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    {% include "footer.html" %}
{% endblock content %}
